VITE_SITE_URL=https://www.arevei.com
VITE_BLOG_API_BASE_URL=https://areveiadmin-blog.vercel.app/
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_FROM=Arevei|Vinay Shakyawar <info@joincloud.in>
DEMO_FORM_ADMIN_EMAIL=admin@arevei.com
